*

!.claude/
!.claude/**/*
.claude/*.local.*

!CLAUDE.md

!aerospace/
!aerospace/**/*

!bat/
!bat/**/*

!brew/
!brew/**/*

!fish/
fish/*
!fish/functions
fish/functions/*
!fish/functions/aliases.fish
!fish/functions/jarvis.fish
!fish/themes
fish/themes/*
!fish/conf.d
fish/conf.d/*
!fish/conf.d/fzf_theme.fish

!ghostty/
!ghostty/**/*

!mise/
!mise/**/*

!nvim/
!nvim/**/*
nvim/lazy-lock.json

!sketchybar/
!sketchybar/**/*

!starship/
!starship/**/*

!tmux/
tmux/**/*
!tmux/tmux.conf
