*

!bat/
!bat/**/*

!brew/
!brew/**/*

!fish/
fish/*
!fish/functions
fish/functions/*
!fish/functions/aliases

!ghostty/
!ghostty/**/*

!nvim/
!nvim/**/*
nvim/lazy-lock.json

!starship/
!starship/**/*

!tmux/
tmux/**/*
!tmux/tmux.conf
